.toast-notification {
    padding: 15px;
    background-color: #e9e4dc;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-family: Arial, sans-serif;
    color: #333
}

.toast-notification ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.toast-notification ul li {
    margin: 0.5rem 0;
    padding: 0.5rem;
    background-color: #f1f1f1;
    border-radius: 3px;
}

.content-block,
.image-block {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    transform: perspective(1000px) translateZ(0);
    transition: transform 0.3s ease-in-out;
}

/* 3D hover effect */
.content-block:hover,
.image-block:hover {
    transform: perspective(1000px) translateZ(20px);
}

.valid-doctor {
    background-color: beige;
}

.custom-font-size {
    font-size: 15px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fc-day-past{
    /* background-color: #f5ecec; */
    background-color: lightgray;
}
.custom-fc-event-main-past {
    background-color: #908b8b;
    
}

.custom-fc-event-past {
    border-color: #d3d3d3 !important;  
}

.custom-fc-event-past .fc-event-title{
    color: #fff
}

.fc-day-today{
    background-color: #e1eccd !important;
    /* background-color: #f4e5c4 !important; */
}