#calendar-book-appointment{
   /* overflow: scroll; */
   cursor: pointer;
}

.fc-custom-past {
  background-color: lightgray; 
  /* cursor: not-allowed !important; */
}

.fc-custom-available{
  background-color: #c8e5e9;
}

.disabled-div {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.btn-create-appoinment,.btn-create-appoinment-collapse{
    float: right;
}

.custom-radio {
    margin: 4px;
    border-radius: 4px;
    border: 1px solid #1b68ff;
    overflow: hidden;
    float: left; 
}

.overflow-auto .custom-height{
    height: 150px;
}

.custom-radio label {
    float: left;
    line-height: 3.0em;
    width: 120px;
    height: 50px;
    cursor: pointer;
}

.custom-radio label span {
    text-align: center;
    padding: 5px 0;
    display: block;
}

.custom-radio label input {
    position: absolute;
    display: none;
}

.custom-radio label input + span {
    color: #1b68ff;
}

.custom-radio input:checked + span {
    color: #ffffff;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
}

.radio-checked input:checked + span {
    background-color: #5ba646;
}

.custom-heading{
  cursor: pointer;
}

.custom-nav-v-pill{
    width: 200px;
    align-items: start;
}

.fc-event-main{
    text-align: center;
}

.custom-fc-event-main-past{
    background-color: #d3d3d3;
}

.custom-fc-event-past{
    border-color: #d3d3d3;
}

.fc .fc-daygrid-day-frame {
    cursor: pointer !important;
}

.fc-highlight {
    background-color: #0e7e44 !important;
    opacity: 0.3 !important;
}

.valid-shift{
    background-color: rgb(188, 173, 173)
}

.continue-book-appoinment{
    position: absolute;
    bottom: -30px;
    left: 450px;
}

.bg-app-status-1{
  background-color: rgba(158, 234, 16, 0.7);
  color: #ffffff;
  font-size: 15px;
}

.bg-app-status-2{
  background-color: rgba(92, 184, 92, 0.7);
  color: #ffffff;
  font-size: 15px;
}

.bg-app-status-3{
  background-color: rgba(0, 123, 255, 0.7);
  color: #ffffff;
  font-size: 15px;
}

.bg-app-status-4{
  background-color: rgb(26 6 244);
  color: #ffffff;
  font-size: 15px;
}

.bg-app-status-5{
  background-color: rgba(217, 83, 79, 0.7);
  color: #ffffff;
  font-size: 15px;
}

.bg-app-status-6{
  background-color: rgba(240, 173, 78, 0.7);
  color: #ffffff;
  font-size: 15px;
}

.bg-app-status-7{
  background-color: rgba(255, 193, 7, 0.7);
  color: #ffffff;
  font-size: 15px;
}
.custom-select-tag{
  cursor: pointer;
}

.valid-shift-appointment{
  background-color: beige;
}

/* ------------------------------------ */
/* .popper,
.tooltip {
  position: absolute;
  z-index: 9999;
  background: #FFC107;
  color: black;
  width: auto;
  max-width: 160px;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  padding: 10px;
  text-align: center;
}
.style5 .tooltip {
  background: #1E252B;
  color: #FFFFFF;
  max-width: 200px;
  width: auto;
  font-size: .8rem;
  padding: .5em 1em;
}
.popper .popper__arrow,
.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
}

.tooltip .tooltip-arrow,
.popper .popper__arrow {
  border-color: #FFC107;
}
.style5 .tooltip .tooltip-arrow {
  border-color: #1E252B;
}
.popper[x-placement^="top"],
.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}
.popper[x-placement^="top"] .popper__arrow,
.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.popper[x-placement^="bottom"],
.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}
.tooltip[x-placement^="bottom"] .tooltip-arrow,
.popper[x-placement^="bottom"] .popper__arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.tooltip[x-placement^="right"],
.popper[x-placement^="right"] {
  margin-left: 5px;
}
.popper[x-placement^="right"] .popper__arrow,
.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
.popper[x-placement^="left"],
.tooltip[x-placement^="left"] {
  margin-right: 5px;
}
.popper[x-placement^="left"] .popper__arrow,
.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
} */

  
  