<div class="vertical  dark ">
    <div class="wrapper">
        <nav class="topnav navbar navbar-light" ng-include="'component/admin-nav.html'">
        </nav>
        <aside class="sidebar-left border-right shadow" id="leftSidebar" ng-include="'component/admin-aside.html'"
            data-simplebar>
        </aside>
        <main role="main" class="main-content">
            <div class="container-fluid">
              <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                  <h2 class="page-title">Form Wizard</h2>
                  <p>Using jQuery Steps as default wizard plugin. That is an extremely flexible, compact and feature-rich plugin.</p>
                  <div class="card my-4">
                    <div class="card-header">
                      <strong>Basic</strong>
                    </div>
                    <div class="card-body">
                      <div id="example-basic">
                        <h3>Keyboard</h3>
                        <section>
                          <p>Try the keyboard navigation by clicking arrow left or right!</p>
                        </section>
                        <h3>Effects</h3>
                        <section>
                          <p>Wonderful transition effects.</p>
                        </section>
                        <h3>Pager</h3>
                        <section>
                          <p>The next and previous buttons help you to navigate through your content.</p>
                        </section>
                      </div>
                    </div> <!-- .card-body -->
                  </div>
                  <div class="card my-4">
                    <div class="card-header">
                      <strong>Vertical</strong>
                    </div>
                    <div class="card-body">
                      <div id="example-vertical">
                        <h3>Keyboard</h3>
                        <section>
                          <p>Try the keyboard navigation by clicking arrow left or right!</p>
                        </section>
                        <h3>Effects</h3>
                        <section>
                          <p>Wonderful transition effects.</p>
                        </section>
                        <h3>Pager</h3>
                        <section>
                          <p>The next and previous buttons help you to navigate through your content.</p>
                        </section>
                      </div>
                    </div> <!-- .card-body -->
                  </div>
                  <div class="card my-4">
                    <div class="card-header">
                      <strong>Validation</strong>
                    </div>
                    <div class="card-body">
                      <form id="example-form" action="#">
                        <div>
                          <h3>Account</h3>
                          <section>
                            <div class="form-group">
                              <label for="userName">User name *</label>
                              <input id="userName" name="userName" type="text" class="form-control required">
                            </div>
                            <div class="form-group">
                              <label for="password">Password *</label>
                              <input id="password" name="password" type="text" class="form-control required">
                            </div>
                            <div class="form-group">
                              <label for="confirm">Confirm Password *</label>
                              <input id="confirm" name="confirm" type="text" class="form-control required">
                            </div>
                            <div class="help-text text-muted">(*) Mandatory</div>
                          </section>
                          <h3>Profile</h3>
                          <section>
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="name">First name *</label>
                                <input id="name" name="name" type="text" class="form-control required">
                              </div>
                              <div class="form-group col-md-6">
                                <label for="surname">Last name *</label>
                                <input id="surname" name="surname" type="text" class="form-control required">
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="email">Email *</label>
                              <input id="email" name="email" type="text" class="form-control required email">
                            </div>
                            <div class="form-group">
                              <label for="address">Address</label>
                              <input id="address" name="address" class="form-control" type="text">
                            </div>
                            <div class="help-text text-muted">(*) Mandatory</div>
                          </section>
                          <h3>Hints</h3>
                          <section>
                            <ul class="ml-5">
                              <li>Foo</li>
                              <li>Bar</li>
                              <li>Foobar</li>
                            </ul>
                          </section>
                          <h3>Finish</h3>
                          <section>
                            <input id="acceptTerms" name="acceptTerms" type="checkbox" class="required"> <label for="acceptTerms">I agree with the Terms and Conditions.</label>
                          </section>
                        </div>
                      </form>
                    </div> <!-- .card-body -->
                  </div> <!-- .card -->
                </div> <!-- .col-12 -->
              </div> <!-- .row -->
            </div> <!-- .container-fluid -->
            <div class="modal fade modal-notif modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="defaultModalLabel">Notifications</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="list-group list-group-flush my-n3">
                      <div class="list-group-item bg-transparent">
                        <div class="row align-items-center">
                          <div class="col-auto">
                            <span class="fe fe-box fe-24"></span>
                          </div>
                          <div class="col">
                            <small><strong>Package has uploaded successfull</strong></small>
                            <div class="my-0 text-muted small">Package is zipped and uploaded</div>
                            <small class="badge badge-pill badge-light text-muted">1m ago</small>
                          </div>
                        </div>
                      </div>
                      <div class="list-group-item bg-transparent">
                        <div class="row align-items-center">
                          <div class="col-auto">
                            <span class="fe fe-download fe-24"></span>
                          </div>
                          <div class="col">
                            <small><strong>Widgets are updated successfull</strong></small>
                            <div class="my-0 text-muted small">Just create new layout Index, form, table</div>
                            <small class="badge badge-pill badge-light text-muted">2m ago</small>
                          </div>
                        </div>
                      </div>
                      <div class="list-group-item bg-transparent">
                        <div class="row align-items-center">
                          <div class="col-auto">
                            <span class="fe fe-inbox fe-24"></span>
                          </div>
                          <div class="col">
                            <small><strong>Notifications have been sent</strong></small>
                            <div class="my-0 text-muted small">Fusce dapibus, tellus ac cursus commodo</div>
                            <small class="badge badge-pill badge-light text-muted">30m ago</small>
                          </div>
                        </div> <!-- / .row -->
                      </div>
                      <div class="list-group-item bg-transparent">
                        <div class="row align-items-center">
                          <div class="col-auto">
                            <span class="fe fe-link fe-24"></span>
                          </div>
                          <div class="col">
                            <small><strong>Link was attached to menu</strong></small>
                            <div class="my-0 text-muted small">New layout has been attached to the menu</div>
                            <small class="badge badge-pill badge-light text-muted">1h ago</small>
                          </div>
                        </div>
                      </div> <!-- / .row -->
                    </div> <!-- / .list-group -->
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Clear All</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal fade modal-shortcut modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="defaultModalLabel">Shortcuts</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body px-5">
                    <div class="row align-items-center">
                      <div class="col-6 text-center">
                        <div class="squircle bg-success justify-content-center">
                          <i class="fe fe-cpu fe-32 align-self-center text-white"></i>
                        </div>
                        <p>Control area</p>
                      </div>
                      <div class="col-6 text-center">
                        <div class="squircle bg-primary justify-content-center">
                          <i class="fe fe-activity fe-32 align-self-center text-white"></i>
                        </div>
                        <p>Activity</p>
                      </div>
                    </div>
                    <div class="row align-items-center">
                      <div class="col-6 text-center">
                        <div class="squircle bg-primary justify-content-center">
                          <i class="fe fe-droplet fe-32 align-self-center text-white"></i>
                        </div>
                        <p>Droplet</p>
                      </div>
                      <div class="col-6 text-center">
                        <div class="squircle bg-primary justify-content-center">
                          <i class="fe fe-upload-cloud fe-32 align-self-center text-white"></i>
                        </div>
                        <p>Upload</p>
                      </div>
                    </div>
                    <div class="row align-items-center">
                      <div class="col-6 text-center">
                        <div class="squircle bg-primary justify-content-center">
                          <i class="fe fe-users fe-32 align-self-center text-white"></i>
                        </div>
                        <p>Users</p>
                      </div>
                      <div class="col-6 text-center">
                        <div class="squircle bg-primary justify-content-center">
                          <i class="fe fe-settings fe-32 align-self-center text-white"></i>
                        </div>
                        <p>Settings</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </main>
    </div>
</div>