/* .custom-calendar-book-appointment{
    height: 300px !important;
    overflow: scroll;
} */
.btn-create-appoinment,.btn-create-appoinment-collapse{
    float: right;
}
.status-tag {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 12px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin: 5px;
}

.scheduled {
    background-color: #007bff; /* Blue */
}

.confirmed {
    background-color: #28a745; /* Green */
}

.in-progress {
    background-color: #ffc107; /* Yellow */
    color: black;
}

.completed {
    background-color: #17a2b8; /* Cyan */
}

.cancelled {
    background-color: #dc3545; /* Red */
}

.no-show {
    background-color: #6c757d; /* Grey */
}

.rescheduled {
    background-color: #fd7e14; /* Orange */
}

.custom-radio {
    margin: 4px;
    /* background-color: #104068; */
    border-radius: 4px;
    border: 1px solid #1b68ff;
    overflow: hidden;
    float: left;
    cursor: pointer;
  }
  .custom-radio label {
    float: left; line-height: 3.0em;
    /* width: 8.0em; height: 3.0em; */
    width:150px;
    height: 50px;
  }

  .custom-radio label span {
    text-align: center;
    padding: 5px 0;
    display: block;
  }
  
  .custom-radio label input {
    position: absolute;
    display: none;
    /* color: #ffffff !important; */
  }

  .custom-radio label input + span{color: #1b68ff;}
  

  .custom-radio input:checked + span {
      color: #ffffff;
      text-shadow: 0 0  6px rgba(0, 0, 0, 0.8);
  }

  .radio-checked input:checked + span{background-color: #5ba646;}
