.custom-checkbox{
    margin: 4px;
    /* background-color: #104068; */
    border-radius: 4px;
    border: 1px solid #110edb;
    overflow: hidden;
    float: left;
  }
  
  .custom-checkbox label {
    float: left; line-height: 3.0em;
    width: 8.0em; height: 3.0em;
  }
  
  .custom-checkbox label span {
    text-align: center;
    padding: 3px 0;
    display: block;
  }
  
  .custom-checkbox label input {
    position: absolute;
    display: none;
    /* color: #ffffff !important; */
  }

  .custom-checkbox label input + span{color: #170ce9;}
  

  .custom-checkbox input:checked + span {
      color: #ffffff;
      text-shadow: 0 0  6px rgba(0, 0, 0, 0.8);
  }

  .checbox-checked input:checked + .custom-checkbox+span{background-color: #09e92b;}