<div class="vertical  dark ">
    <div class="wrapper">
        <nav class="topnav navbar navbar-light justify-content-end" ng-include="'component/admin-nav.html'">
        </nav>
        <aside class="sidebar-left border-right shadow" id="leftSidebar" ng-include="'component/admin-aside.html'"
            data-simplebar>
        </aside>
        <main role="main" class="main-content" ng-controller="AdminDashboardController">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                </ol>
            </nav>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-2 text-center mb-3 ml-auto">
                        </label>
                        <select id="filterByMonth" class="form-control select2" ng-model="formFilter.id"
                            ng-options="d.id as d.value for d in dateDataDB">
                        </select>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="mb-2 align-items-center">
                            <div class="card shadow mb-4">
                                <div class="card-body">
                                    <div class="row mt-1 align-items-center">
                                        <div class="col-12 col-lg-4 text-left pl-4">
                                            <!-- ng-init="fetchTotalRevenueByYear(today)" -->
                                            <!-- <p class="mb-1 text-secondary">Doanh thu phòng khám</p>
                                            <span class="h3">{{venueTotal||0 |formatPrice}}</span> -->

                                            <div class="card shadow mb-4 bg-info">
                                                <div class="card-body">
                                                    <div class="row align-items-center">
                                                        <div class="col">
                                                            <small class="text-white mb-1">Doanh thu năm
                                                                <span class="badge bg-success small">{{thisYear}}</span>
                                                            </small>
                                                            <h3 class="card-title mb-0 mt-2">{{venueTotal||0
                                                                |formatPrice}}
                                                            </h3>
                                                            <span ng-show="isGrowingYear && growthPercentageYear!=0"
                                                                class="bi bi-arrow-up-short text-success fs-3"></span>
                                                            <span ng-show="!isGrowingYear && growthPercentageYear!=0"
                                                                class="bi bi-arrow-down-short text-danger fs-3"></span>
                                                            <span ng-show="growthPercentageYear==0"
                                                                class="fe fe-minus text-warning fe-16"></span>
                                                            <span class="small text-white">
                                                                {{growthPercentageYear}}%
                                                                kỳ trước
                                                            </span>
                                                        </div>
                                                        <div class="col-4 text-right">
                                                            <span class="sparkline inlineline"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="col-md-4 ml-auto">
                                            <div class="card shadow mb-4 bg-primary">
                                                <div class="card-body">
                                                    <div class="row align-items-center">
                                                        <div class="col">
                                                            <small class="text-white mb-1">Doanh thu
                                                                <span
                                                                    class="badge bg-info small">{{filterByMonth}}</span>
                                                            </small>
                                                            <h3 class="card-title mb-0 mt-2">{{venueByMonth||0
                                                                |formatPrice}}
                                                            </h3>
                                                            <span ng-show="isGrowingMonth && growthPercentageMonth!=0"
                                                                class="bi bi-arrow-up-short text-success fs-3"></span>
                                                            <span ng-show="!isGrowingMonth && growthPercentageMonth!=0"
                                                                class="bi bi-arrow-down-short text-danger fs-3"></span>
                                                            <span ng-show="growthPercentageMonth==0"
                                                                class="fe fe-minus text-warning fe-16"></span>
                                                            <span class="small text-white">
                                                                {{growthPercentageMonth}}%
                                                                kỳ trước
                                                            </span>
                                                        </div>
                                                        <div class="col-4 text-right">
                                                            <span class="sparkline inlineline"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chartbox mr-4">
                                        <div id="areaChart"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row items-align-baseline">
                            <div class="col-md-12 col-lg-4">
                                <div class="card shadow eq-card mb-4 ">
                                    <div class="card-body mb-n3">
                                        <div class="row items-align-baseline h-100">
                                            <div class="col-md-6 my-3">
                                                <p class="mb-0"><strong class="mb-0 text-uppercase text-secondary">Cuộc
                                                        hẹn</strong></p>
                                                <h3>{{listAppointmentCurrentYearDB.length}}</h3>
                                                <p>Tổng số cuộc hẹn kỳ <span
                                                        class="badge bg-primary">{{thisYear}}</span>
                                                    <span class="badge bg-success"
                                                        ng-show="percentageAppoinmentByYear>0">tăng trưởng</span>
                                                    <span class="badge bg-warning"
                                                        ng-show="percentageAppoinmentByYear<0">giảm</span>
                                                    <span
                                                        ng-show="percentageAppoinmentByYear!=0">{{percentageAppoinmentByYear}}%</span>
                                                    <span ng-show="percentageAppoinmentByYear==0">không tăng
                                                        trưởng</span>
                                                    <span>so với kỳ {{thisYear-1}}</span>
                                                </p>
                                            </div>
                                            <div class="col-md-6 my-4 text-center">
                                                <div lass="chart-box mx-4">
                                                    <div id="radialbarWidget"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 border-top py-3">
                                                <p class="mb-1 small">
                                                    <strong class="text-secondary">Cuộc hẹn</strong>
                                                    <span class="badge bg-info small">{{filterByMonth}}</span>
                                                </p>
                                                <h4 class="mb-0">{{listAppointmentDBTodayOrThisMonth.length}}</h4>
                                                <p class="mb-2 small"
                                                    ng-class="{'text-success fe fe-arrow-up': percentageAppoinmentByMonth > 0, 'fe fe-arrow-down text-danger': percentageAppoinmentByMonth < 0, 'text-mute': percentageAppoinmentByMonth === 0}">
                                                    {{percentageAppoinmentByMonth}}% tháng trước</p>
                                            </div>
                                            <div class="col-md-6 border-top py-3">
                                                <p class="mb-1 small">
                                                    <strong class="text-secondary">Cuộc hẹn tháng
                                                        trước</strong>
                                                </p>
                                                <h4 class="mb-0">{{listAppointmentDBPreviousDayOrPreviousMonth.length}}
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-4">
                                <div class="card shadow eq-card mb-4 ">
                                    <div class="card-body">
                                        <div class="chart-widget mb-2">
                                            <div id="radialbar"></div>
                                        </div>
                                        <div class="row items-align-center">
                                            <div class="col-12 text-center">
                                                <p class="text-secondary mb-1">Cuộc hẹn hoàn thành</p>
                                                <h3 class="mb-1 text-primary">{{listCompletedAppointments.length}}</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-4">
                                <div class="card shadow eq-card mb-4 ">
                                    <div class="card-body">
                                        <div class="chart-widget mb-2">
                                            <div id="radialbarCancel"></div>
                                        </div>
                                        <div class="row items-align-center">
                                            <div class="col-12 text-center">
                                                <p class="text-secondary mb-1">Cuộc hẹn đã hủy</p>
                                                <h3 class="mb-1 text-danger">{{listCancelsAppointments.length}}</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-9">
                                <div class="card shadow">
                                    <div class="card-header">
                                        <strong class="card-title">Top 5 dịch vụ năm <span class="badge bg-primary">{{thisYear}}</span></strong>
                                        <!-- <a class="float-right small text-secondary" href="#!">View all</a> -->
                                    </div>
                                    <div class="card-body my-n2">
                                        <table class="table table-striped table-hover table-borderless">
                                            <thead>
                                                <tr>
                                                    <th>Mã dịch vụ</th>
                                                    <th>Tên dịch vụ</th>
                                                    <th>Doanh thu</th>
                                                    <th>Tỉ trọng</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="top in listTop5ServiceDB">
                                                    <td>{{(top[0].serviceName | initialCharacter)+"-"+top[0].serviceId}}</td>
                                                    <!-- <td>{{top[0].serviceId}}</td> -->
                                                    <td>{{top[0].serviceName}}</td>
                                                    <td>{{top[1]|formatPrice}}</td>
                                                    <td>
                                                        <div class="percentage" ng-init="percent = getPercentageOfTop5Service(venueTotal,top[1])">
                                                            <div class="progress">
                                                                <div class="progress-bar color-8" role="progressbar"
                                                                    style="width: {{percent}}%; cursor:pointer;" aria-valuenow="60"
                                                                    aria-valuemin="0" aria-valuemax="100"
                                                                    ng-attr-title="{{percent}}%">{{percent}}%</div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div> <!-- Striped rows -->
                        </div> <!-- .row-->
                    </div> <!-- .col-12 -->
                </div> <!-- .row -->
            </div> <!-- .container-fluid -->

        </main> <!-- main -->
    </div> <!-- .wrapper -->
</div>