<div class="vertical  dark ">
    <div class="wrapper">
        <nav class="topnav navbar navbar-light" ng-include="'component/admin-nav.html'">
        </nav>
        <aside class="sidebar-left border-right shadow" id="leftSidebar" ng-include="'component/admin-aside.html'"
            data-simplebar>
        </aside>
        <main role="main" class="main-content" ng-controller="AdminListDentalSupplies">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                </ol>
            </nav>
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <h2 class="mb-2 p-0 page-title">Danh sách vật tư nha khoa</h2>
                        <p class="card-text"></p>
                        <div class="row my-4">
                            <!-- Small table -->
                            <div class="col-md-12">
                                <div class="row align-items-center my-3">
                                    <div class="col">
                                        <!-- <h2 class="page-title p-0">Đặt lịch</h2> -->
                                    </div>
                                    <div class="col-auto">
                                        <a href="#!admin/save-dental-supplies" type="btn btn-primary"
                                            style="color: white;" class="btn btn-primary"><span
                                                class="fe fe-plus fe-16 mr-3"></span>Thêm
                                            vật tư nha khoa</a>
                                    </div>
                                </div>
                                <div class="card shadow">
                                    <div class="card-body">
                                        <!-- table -->
                                        <table class="table datatables" id="dataTable-list-service">
                                            <thead>
                                                <tr>
                                                    <th>Mã loại vật tư</th>
                                                    <th>Tên loại vật tư</th>
                                                    <th>Nhà phân phối</th>
                                                    <th>Mô tả</th>
                                                    <th>Trạng thái</th>
                                                    <th>Thao tác</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="d in listDentalSuppliesFromDB"
                                                    class="dentalSupplies_{{d.suppliesId}}">
                                                    <td>{{d.suppliesId}}</td>
                                                    <td>{{d.suppliesName}}</td>
                                                    <td>{{d.distributionSupplies.name}}</td>
                                                    <td>{{d.description}}</td>
                                                    <td>
                                                        <p ng-if="d.deleted" type="text" disabled
                                                            style="width: 20px; height: 20px; border-radius: 50%; background-color: rgb(239, 17, 17); color: transparent;">
                                                            Ngừng hoạt động</p>
                                                        <p ng-if="!d.deleted" type="text" disabled
                                                            style="width: 20px; height: 20px; border-radius: 50%; background-color: rgb(47, 255, 0); color: transparent;">
                                                            Đang hoạt động</p>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex">
                                                            <a type="button" class="text-danger mr-3"
                                                                ng-click="deleteDentalSupplies(d)">Xóa</a>
                                                            <a type="button" class="text-primary" data-toggle="modal"
                                                                data-target="#dentalSuppliesModel"
                                                                ng-click="editDentalSupply(d)">Sửa</a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div> <!-- simple table -->
                        </div> <!-- end section -->
                    </div> <!-- .col-12 -->
                </div> <!-- .row -->
            </div> <!-- .container-fluid -->
            <!-- Modal -->
            <!-- new dental supply modal -->
            <div class="modal fade" id="dentalSuppliesModel" tabindex="-1" role="dialog"
                aria-labelledby="dentalSuppliesModelLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="varyModalLabel">{{viewMode==1?'Thêm mới':'Cập nhật'}}</h5>
                            <button type="button" id="btnDismissModalAddService" class="close" data-dismiss="modal"
                                aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body p-4">
                            <!-- <form> -->
                            <div class="row">
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-outline mb-3">
                                        <label class="form-label" for="manageMedicinesModalmedicineName">Tên phân
                                            phối
                                        </label>
                                        <input type="text" id="manageMedicinesModalmedicineName"
                                            ng-model="editDentalSupplies.suppliesName" class="form-control"
                                            placeholder="Tên phân phối" required />
                                        <span class="text-danger" ng-show="errorSuppliesName">(*)Vui lòng nhập tên
                                            phân phối</span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-outline mb-3">
                                        <label class="form-label" for="manageMedicinesModaldistributionName">Nhà
                                            phân phối</label>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <select id="manageMedicinesModaldistributionName"
                                                    class="form-control select2"
                                                    ng-model="editDentalSupplies.distributionSupplies.distributionId">
                                                    <option ng-repeat="d in listDistributionSuppliesFormDB"
                                                        value="{{d.distributionId}}"
                                                        ng-selected="d.distributionId == editDentalSupplies.distributionSupplies.distributionId">
                                                        {{d.name}}
                                                    </option>
                                                </select>
                                                <span class="text-danger" ng-show="errorDistributionSupplies">(*)
                                                    Vui
                                                    lòng chọn nhà phân phối</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-outline mb-3">
                                        <label class="form-label" for="manageMedicinesModalmedicineName">Ghi
                                            chú
                                        </label>
                                        <textarea name="" id="" class="form-control"
                                            ng-model="editDentalSupplies.description" placeholder="Ghi chú"
                                            rows="5"></textarea>
                                    </div>
                                </div>
                            </div>
                            <!-- </form> -->
                        </div>
                        <div class="modal-footer d-flex justify-content-arround">

                            <button type="button" class="btn mb-2 btn-primary" ng-click="updateDentalSupply()">Lưu
                                lại</button>
                        </div>
                    </div>
                </div>
            </div> <!-- new dental supply modal -->







            <div class="modal fade modal-notif modal-slide" tabindex="-1" role="dialog"
                aria-labelledby="defaultModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="defaultModalLabel">Notifications</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="list-group list-group-flush my-n3">
                                <div class="list-group-item bg-transparent">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <span class="fe fe-box fe-24"></span>
                                        </div>
                                        <div class="col">
                                            <small><strong>Package has uploaded successfull</strong></small>
                                            <div class="my-0 text-muted small">Package is zipped and uploaded</div>
                                            <small class="badge badge-pill badge-light text-muted">1m ago</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-group-item bg-transparent">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <span class="fe fe-download fe-24"></span>
                                        </div>
                                        <div class="col">
                                            <small><strong>Widgets are updated successfull</strong></small>
                                            <div class="my-0 text-muted small">Just create new layout Index, form, table
                                            </div>
                                            <small class="badge badge-pill badge-light text-muted">2m ago</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-group-item bg-transparent">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <span class="fe fe-inbox fe-24"></span>
                                        </div>
                                        <div class="col">
                                            <small><strong>Notifications have been sent</strong></small>
                                            <div class="my-0 text-muted small">Fusce dapibus, tellus ac cursus commodo
                                            </div>
                                            <small class="badge badge-pill badge-light text-muted">30m ago</small>
                                        </div>
                                    </div> <!-- / .row -->
                                </div>
                                <div class="list-group-item bg-transparent">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <span class="fe fe-link fe-24"></span>
                                        </div>
                                        <div class="col">
                                            <small><strong>Link was attached to menu</strong></small>
                                            <div class="my-0 text-muted small">New layout has been attached to the menu
                                            </div>
                                            <small class="badge badge-pill badge-light text-muted">1h ago</small>
                                        </div>
                                    </div>
                                </div> <!-- / .row -->
                            </div> <!-- / .list-group -->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Clear
                                All</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade modal-shortcut modal-slide" tabindex="-1" role="dialog"
                aria-labelledby="defaultModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="defaultModalLabel">Shortcuts</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body px-5">
                            <div class="row align-items-center">
                                <div class="col-6 text-center">
                                    <div class="squircle bg-success justify-content-center">
                                        <i class="fe fe-cpu fe-32 align-self-center text-white"></i>
                                    </div>
                                    <p>Control area</p>
                                </div>
                                <div class="col-6 text-center">
                                    <div class="squircle bg-primary justify-content-center">
                                        <i class="fe fe-activity fe-32 align-self-center text-white"></i>
                                    </div>
                                    <p>Activity</p>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-6 text-center">
                                    <div class="squircle bg-primary justify-content-center">
                                        <i class="fe fe-droplet fe-32 align-self-center text-white"></i>
                                    </div>
                                    <p>Droplet</p>
                                </div>
                                <div class="col-6 text-center">
                                    <div class="squircle bg-primary justify-content-center">
                                        <i class="fe fe-upload-cloud fe-32 align-self-center text-white"></i>
                                    </div>
                                    <p>Upload</p>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-6 text-center">
                                    <div class="squircle bg-primary justify-content-center">
                                        <i class="fe fe-users fe-32 align-self-center text-white"></i>
                                    </div>
                                    <p>Users</p>
                                </div>
                                <div class="col-6 text-center">
                                    <div class="squircle bg-primary justify-content-center">
                                        <i class="fe fe-settings fe-32 align-self-center text-white"></i>
                                    </div>
                                    <p>Settings</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </div>
</div>