<div class="vertical  dark ">
  <div class="wrapper">
    <nav class="topnav navbar navbar-light justify-content-end" ng-include="'component/admin-nav.html'">
    </nav>
    <aside class="sidebar-left border-right shadow" id="leftSidebar" ng-include="'component/admin-aside.html'"
      data-simplebar>
    </aside>
    <main role="main" class="main-content" ng-controller="AdminPatientRecord">

      <div class="d-flex flex-items-center flex-justify-between">
        <h1 class="text-muted" id="history-pagehead">Lich sử điều trị</h1>
      </div>
      <div class="custom-hr"></div>
      <div class="box mt-3">
        <div class="box-content">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="card card-fill timeline">
                <div class="card-header">
                  <div class="box-header">
                    <div class="d-flex justify-content-between mb-3">
                      <div>
                        <button type="button" class="btn btn-outline-primary p-2" ng-click="reFresh()">
                          <i class="fe fe-refresh-ccw"></i>
                          Làm mới
                        </button>
                      </div>
                      <div class="appointment-pagination mb-2">
                        <nav ng-include="'component/pagination.html'"></nav>
                      </div>
                    </div>
                    <div class="row align-items-center justify-content-end">
                      <div class="col-lg-3">
                        <label for="filterDoctor">Chọn bác sĩ</label>
                        <select id="filterDoctor" class="form-control select2-multi"
                          ng-model="formPatientRecord.doctorId"
                          ng-options="d.doctorId as d.fullName for d in listdoctorDB" style="height: 40px;">
                        </select>
                      </div>
                      <div class="col-lg-3">
                        <label for="filterPatient">Chọn bệnh nhân</label>
                        <select id="filterPatient" class="form-control select2-multi"
                          ng-model="formPatientRecord.patientId"
                          ng-options="p.patientId as (p.fullName + (p.phoneNumber ? ' - ' + p.phoneNumber : '')) for p in listPatientDB"
                          style="height: 40px;">
                        </select>
                      </div>
                      <div class="col-lg-3">
                        <label for="dateFilterPatientRecord">Chọn ngày</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text" id="button-addon-date">
                              <span class="fe fe-calendar fe-16"></span>
                            </div>
                          </div>
                          <input type="text" class="form-control drgpicker-filter-record" id="dateFilterPatientRecord"
                            ng-model="formPatientRecord.dateFilter" autocomplete="off" style="height: 40px;">
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="card-body">

                  <div ng-show="listAppGroupByDateDB.length==0" class="text-warning text-center">Không có dữ liệu hiển
                    thị</div>

                  <div class="appointment-content" ng-repeat="map in listAppGroupByDateDB |limitTo:pageSize:begin">
                    <h6 class="text-uppercase text-muted mb-4 mt-4">{{map[0] | dateFormat}}</h6>
                    <div class="pb-3 timeline-item" ng-repeat="app in map[1]" ng-class="
                    {
                      'item-confirmed': app.appointmentStatus.status=='Đã Xác Nhận',
                      'item-completed': app.appointmentStatus.status=='Hoàn Thành',
                      'item-progress': app.appointmentStatus.status=='Đang Diễn Ra',
                      'item-canceled': app.appointmentStatus.status=='Đã Hủy',
                      'item-noshow': app.appointmentStatus.status=='Không Đến',
                      'item-rescheduled': app.appointmentStatus.status=='Hoãn',
                      'item-booked': app.appointmentStatus.status=='Đã Đặt'
                    }" style="border: 1px solid rgb(221, 215, 215); margin: 0; border-radius: 5px;">
                      <div class="pl-5">
                        <div class="mb-3">
                          Khách hàng <strong>{{app.patient.fullName}}</strong>
                          <span class="text-muted mx-2">đã
                            {{app.appointmentStatus.status}} cuộc hẹn</span>
                          <strong>{{app.appointmentId}}</strong>
                          <button id="btn-paintient-record-details" class="float-right btn btn-outline-primary"
                            href="#!" style="margin: 5px;" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasDetails-{{app.appointmentId}}"
                            aria-controls="offcanvasDetails-{{app.appointmentId}}"
                            ng-click="setupTab(app.appointmentId)">Xem chi tiết</button>
                          <div style="height: 90vh;" class="offcanvas offcanvas-bottom" tabindex="-1"
                            id="offcanvasDetails-{{app.appointmentId}}" aria-labelledby="offcanvasBottomLabel">
                            <div class="offcanvas-header">
                              <h5 class="offcanvas-title" id="offcanvasBottomLabel">Xem chi tiết bệnh án
                                {{app.appointmentPatientRecord.appointmentPatientRecordId}}</h5>
                              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                              <ul class="nav nav-tabs nav-justified mb-3" id="nav-tabs-{{app.appointmentId}}">
                                <li class="nav-item">
                                  <a class="nav-link" ng-class="{active: isSelected(-1)}"
                                    ng-click="selectTab(-1,$event)" href="#">Thông tin
                                    bệnh nhân</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" ng-class="{active: isSelected(-2)}"
                                    ng-click="selectTab(-2,$event)" href="#">Xem hóa
                                    đơn</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" ng-class="{active: isSelected(-3)}"
                                    ng-click="selectTab(-3,$event)" href="#">Đơn
                                    thuốc</a>
                                </li>
                              </ul>
                              <div class="tab-content">
                                <div class="tab-pane" ng-class="{ 'active show': isSelected(-1) }"
                                  ng-init="bills = getBillByPatient(app.patient.patientId,listBillByAppointmentAndPatientDB)">
                                  <div class="row justify-content-center">
                                    <div class="col-12">
                                      <div class="row mt-2 align-items-center">
                                        <div class="col-md-3 text-center mb-5">
                                          <div class="avatar avatar-xl">
                                            <img src="/assets/images/avatars/ntt.jpeg" alt="..."
                                              class="avatar-img rounded-circle">
                                          </div>
                                        </div>
                                        <div class="col">
                                          <div class="row align-items-center">
                                            <div class="col-md-7">
                                              <h4 class="mb-1">{{app.patient.fullName}}</h4>
                                              <p class="mb-3"><span class="badge badge-dark">ID: {{app.patient.patientId
                                                  }}</span>
                                              </p>
                                            </div>
                                          </div>
                                          <div class="row mb-4">
                                            <div class="col-md-7">
                                              <p class="mb-0 text-muted" ng-show="app.patient.gender==='MALE'">Giới
                                                tính: Nam </p>
                                              <p class="mb-0 text-muted" ng-show="app.patient.gender==='FEMALE'">Giới
                                                tính: Nữ </p>
                                              <p class="mb-0 text-muted"
                                                ng-show="app.patient.gender!=='FEMALE'&&app.patient.gender!=='MALE'">
                                                Giới tính: Khác </p>
                                              <p class="mb-0 text-muted">CMND/CCCD:
                                                {{app.patient.citizenIdentificationNumber}}</p>
                                              <p class="mb-0 text-muted">Ngày sinh: {{app.patient.birthday | dateFormat
                                                }}</p>
                                            </div>
                                            <div class="col">
                                              <p class="mb-0 text-muted">Địa chỉ: </p>
                                              <p class="mb-0 text-muted">Điện thoại: {{app.patient.phoneNumber |
                                                phoneNumberFormat}} </p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                      <h6 class="mb-3">Bill gần đây</h6>
                                      <div ng-show="bills.length==0" class="text-warning text-center">Không có bill phát
                                        sinh</div>
                                      <div ng-show="bills.length!=0">
                                        <table class="table table-borderless table-striped">
                                          <thead>
                                            <tr role="row">
                                              <th>Số Bill</th>
                                              <th>Ngày Bill</th>
                                              <th>Tổng tiền</th>
                                              <th>Hình thức thành toán</th>
                                              <th>Trạng thái</th>
                                              <!-- <th>Chi tiết</th> -->
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr ng-repeat="bill in bills">
                                              <th scope="col">{{bill.billId}}</th>
                                              <td>{{bill.createAt}}</td>
                                              <td>{{bill.totalCost | formatPrice}}</td>
                                              <td>{{bill.paymentMethod}}</td>
                                              <td>
                                                <span class="dot dot-lg bg-success mr-2"></span>
                                                {{bill.status}}
                                              </td>
                                              <!-- <td>
                                              <button class="btn btn-outline-info">Chi tiết</button>
                                            </td> -->
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>

                                    </div> 
                                  </div>
                                </div>
                                <div class="tab-pane" ng-class="{ 'active show': isSelected(-2) }"
                                  ng-init="bill = getBillByAppointment(app.appointmentId,listBillByAppointmentAndPatientDB)">
                                  <div ng-show="bill.length==0" class="text-warning text-center">Không có bill hiển thị
                                  </div>
                                  <div ng-show="bill.length!=0" class="row justify-content-center">
                                    <div class="col-12 col-lg-10 col-xl-8">
                                      <div class="row align-items-center">
                                        <div class="col">
                                          <h2 class="h5 page-title"><small
                                              class="text-muted text-uppercase">BILL</small><br />#{{bill[0].billId}}
                                          </h2>
                                        </div>
                                        <div class="col-auto">
                                          <button type="button" class="btn btn-secondary" ng-click="exportPDF()">In
                                            Bill</button>
                                          <button type="button" class="btn btn-primary">Gửi e-mail</button>
                                        </div>
                                      </div>
                                      <div id="pdfContent">
                                        <div class="card shadow">
                                          <div class="card-body p-5">
                                            <div class="row mb-5">
                                              <div class="col-12 text-center mb-4">                                             
                                                <h2 class="mb-0 text-uppercase">BILL</h2>
                                                <p class="text-muted"> {{bill[0].createAt | dateFormat}}<br /> Nha khoa
                                                  Tooth Teeth</p>
                                              </div>
                                              <div class="col-md-7">
                                                <p class="small text-muted text-uppercase mb-2">Nha Khoa</p>
                                                <p class="mb-4">
                                                  <strong>Tooth Teeth</strong><br /> Địa chỉ: 51/A, 3/2, Ninh Kiều, Cần
                                                  Thơ<br /> MST: 180000111<br /> (84) 0969 281 254<br />
                                                </p>
                                                <p>
                                                  <span class="small text-muted text-uppercase">Bill #</span><br />
                                                  <strong>{{bill[0].billId}}</strong>
                                                </p>
                                              </div>
                                              <div class="col-md-5">
                                                <p class="small text-muted text-uppercase mb-2">Khách hàng</p>
                                                <p class="mb-4">
                                                  <strong>{{bill[0].appointment.patient.fullName}}</strong>
                                                  <br />
                                                  Địa chỉ:
                                                  {{bill[0].appointment.patient.citizenIdentificationNumber}}<br />
                                                  Số điện thoại:
                                                  {{bill[0].appointment.patient.phoneNumber|phoneNumberFormat}}<br />
                                                </p>
                                                <p>
                                                  <small class="small text-muted text-uppercase">Hạn thanh
                                                    toán</small><br />
                                                  <strong>{{bill[0].createAt | dateFormat}}</strong>
                                                </p>
                                              </div>
                                            </div>
                                            <table class="table table-borderless table-striped">
                                              <thead>
                                                <tr>
                                                  <th scope="col">#</th>
                                                  <th scope="col">Tên dịch vụ</th>
                                                  <th scope="col" class="text-right">Đơn giá</th>
                                                  <th scope="col" class="text-right">Số lượng</th>
                                                  <th scope="col" class="text-right">Thành tiền</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                <tr ng-repeat="s in getAPSByAppointment(app.appointmentId,listAPSDB)">
                                                  <th scope="row">{{s.appointment_ServiceId}}</th>
                                                  <td>{{s.service.serviceName}}</td>
                                                  <td class="text-right">{{s.service.price | formatPrice}}</td>
                                                  <td class="text-right">{{s.quantity}}</td>
                                                  <td class="text-right">{{s.service.price*s.quantity | formatPrice}}
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                            <div class="row mt-5">
                                              <div class="col-2 text-center">
                                                <!-- <img src=""
                                                class="navbar-brand-img brand-sm mx-auto my-4" alt="..."> -->
                                              </div>
                                              <div class="col-md-5">
                                                <p hidden>temp</p>
                                              </div>
                                              <div class="col-md-5">
                                                <div class="text-right mr-2">

                                                  <p class="mb-2 h6">
                                                    <span class="text-muted">Tổng thanh toán : </span>
                                                    <span>{{getTotalService(app.appointmentId,listAPSDB) |
                                                      formatPrice}}</span>
                                                  </p>
                                                </div>
                                              </div>
                                            </div> 
                                          </div> 
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="tab-pane" ng-class="{ 'active show': isSelected(-3) }">
                                  <div>Đơn thuốc</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card d-inline-flex mb-2">
                          <div class="card-body bg-light py-2 px-3">
                            Khách hàng đã điệu trị các vấn đề
                            <strong>{{app.appointmentPatientRecord.currentCodition}}</strong>
                          </div>
                        </div>
                        </p>
                        <p class="text-muted">Bác sĩ điều trị: {{app.doctor.fullName}}
                          <span class="badge badge-light">Hẹn tái khám:
                            {{app.appointmentPatientRecord.reExamination}}</span>
                        </p>

                      </div>
                    </div>
                  </div>

                  <div class="appointment-pagination mt-3 d-flex justify-content-center">
                    <nav ng-include="'component/pagination.html'"></nav>
                  </div>

                </div> 
              </div> 
            </div> 
          </div>
        </div>
      </div>

    </main> 
  </div>
</div>