<div class="vertical  dark ">
    <div class="wrapper">
        <nav class="topnav navbar navbar-light justify-content-end" ng-include="'component/admin-nav.html'">
        </nav>
        <aside class="sidebar-left border-right shadow" id="leftSidebar" ng-include="'component/admin-aside.html'"
            data-simplebar>
        </aside>
        <main role="main" class="main-content" ng-controller="AdminMySettingController">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                </ol>
                <ul class="nav d-lg-none">
                    <li class="nav-item">
                        <a class="nav-link active" href="#!admin/dashboard">Bảng thống kê</a>
                    </li>
                    <li class="nav-item" ng-show="BAC_SI">
                        <a class="nav-link" href="#!admin/doctor-calendar">Lịch làm việc của tôi</a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link" href="#!admin/doctor">
                            <i class="bi bi-info-circle fe-16"></i>
                            <span class="ml-3 item-text">Thông tin bác sĩ</span>
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link" href="#!admin/dental-staff">
                            <i class="bi bi-info-circle fe-16"></i>
                            <span class="ml-3 item-text">Thông tin nhân viên</span>
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link" href="#!admin/doctor-schedule">
                            <i class="bi bi-calendar-check fe-16"></i>
                            <span class="ml-3 item-text">Xếp lịch làm việc</span>
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link" href="#!admin/create-account">
                            <i class="bi bi-person-lock fe-16"></i>
                            <span class="ml-3 item-text">Tài khoản</span>
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link" href="#!admin/admin-calendar">
                            <i class="bi bi-calendar2-week fe-16"></i>
                            <span class="ml-3 item-text">Lên lịch khám</span>
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link" href="#!admin/patients">
                            <i class="bi bi-person-video3 fe-16"></i>
                            <span class="ml-3 item-text">Hồ sơ bệnh nhân</span>
                        </a>
                    </li>

                    <li class="nav-item w-100" ng-show="HANH_CHINH">
                        <a class="nav-link" href="#!admin/create-account">
                            <i class="bi bi-person-lock fe-16"></i>
                            <span class="ml-3 item-text">Tài khoản</span>
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link" href="#!admin/list-service">
                            <i class="bi bi-patch-plus fe-16"></i>
                            <span class="ml-3 item-text">Dịch vụ nha khoa</span>
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link" href="#!admin/medicines">
                            <i class="fe fe-package fe-16"></i>
                            <span class="ml-3 item-text">Quản lí thuốc</span>
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link" href="#!admin/dental-supplies">
                            <i class="fe fe-framer fe-16"></i>
                            <span class="ml-3 item-text">Vật tư nha khoa</span>
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link" href="#!admin/distribution-supplies">
                            <i class="fe fe-users fe-16"></i>
                            <span class="ml-3 item-text">Nhà phân phối</span>
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link" href="#!admin/list-invoice">
                            <i class="bi bi-receipt fe-16"></i>
                            <span class="ml-3 item-text">Hóa đơn</span>
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link" href="#!admin/ct-results">
                            <i class="bi bi-images fe-16"></i>
                            <span class="ml-3 item-text">Film chụp CT</span>
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link" href="#!admin/post">
                            <i class="fe fe-edit-2 fe-16"></i>
                            <span class="ml-3 item-text">Bài viết</span>
                        </a>
                    </li>
                </ul>

            </nav>
            <div class="container-fluid">
                <div class="row justify-content-center mb-3">

                </div>
            </div>
        </main>
    </div>
</div>