<div class="vertical dark">
    <div class="wrapper">
        <nav class="topnav navbar navbar-light" ng-include="'component/admin-nav.html'"></nav>
        <aside class="sidebar-left border-right shadow" id="leftSidebar" ng-include="'component/admin-aside.html'"
            data-simplebar></aside>
        <main role="main" class="main-content" ng-controller="AdminListDentalSupplies">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <h2 class="mb-2 p-0 page-title">Quản lý vật tư</h2>
                        <p class="card-text"></p>
                        <div class="row my-4">
                            <div class="col-md-12">
                                <div class="card shadow">
                                    <div class="card-body">
                                        <ul class="nav nav-pills mb-3" id="manageMedicines" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link active" id="form-tab-medicine"
                                                    data-bs-toggle="tab"
                                                    data-bs-target="#form-tab-pane-manage-medicines" type="button"
                                                    role="tab" aria-controls="form-tab-pane-manage-medicines"
                                                    aria-selected="true">
                                                    <i class="bi bi-pencil-square"></i> Quản lý
                                                </button>
                                            </li>
                                            <li class="nav-item" role="presentation">

                                            </li>
                                        </ul>
                                        <div class="tab-content" id="manageMedicinesTabContent">
                                            <div class="tab-pane fade show active" id="form-tab-pane-manage-medicines"
                                                role="tabpanel" aria-labelledby="form-tab-medicine" tabindex="0">
                                                <div class="row align-items-center justify-content-center">
                                                    <div class="col-lg col-sm-12 p-3 me-3 d-flex flex-column flex-wrap">
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-12">
                                                                <div class="form-outline mb-3">
                                                                    <label class="form-label"
                                                                        for="manageMedicinesModalmedicineName">Tên vật tư
                                                                    </label>
                                                                    <input type="text"
                                                                        id="manageMedicinesModalmedicineName"
                                                                        ng-model="suppliesName" class="form-control"
                                                                        placeholder="Tên vật tư" required />
                                                                    <span class="text-danger"
                                                                        ng-show="errorSuppliesName">(*)Vui lòng nhập tên
                                                                        vật tư</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 col-md-12">
                                                                <div class="form-outline mb-3">
                                                                    <label class="form-label"
                                                                        for="manageMedicinesModaldistributionName">Nhà
                                                                        phân phối</label>
                                                                    <div class="row">
                                                                        <div class="col-lg-9">
                                                                            <select
                                                                                id="manageMedicinesModaldistributionName"
                                                                                class="form-control select2"
                                                                                ng-model="distributionSuppliesId">
                                                                                <option
                                                                                    ng-repeat="d in listDistributionSuppliesFormDB"
                                                                                    value="{{d.distributionId}}">
                                                                                    {{d.name}} - {{d.distribution}}
                                                                                </option>
                                                                            </select>
                                                                            <span class="text-danger"
                                                                                ng-show="errorDistributionSupplies">(*)
                                                                                Vui
                                                                                lòng chọn nhà phân phối</span>
                                                                        </div>
                                                                        <div class="col-lg-3">
                                                                            <button class="btn btn-success"
                                                                                data-bs-toggle="modal"
                                                                                data-bs-target="#exampleModal"
                                                                                style="float: right;">
                                                                                <i class="bi bi-plus-circle"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>


                                                                </div>
                                                            </div>


                                                            <div class="col-lg-12 col-md-12">
                                                                <div class="form-outline mb-3">
                                                                    <label class="form-label"
                                                                        for="manageMedicinesModalmedicineName">Ghi
                                                                        chú
                                                                    </label>
                                                                    <textarea name="" id="" class="form-control"
                                                                        ng-model="description" placeholder="Ghi chú"
                                                                        rows="5"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex justify-content-center mt-3">
                                                            <button ng-click="createDentalSuppliesFromDB()"
                                                                class="btn btn-success m-2">
                                                                Tạo mới
                                                            </button>
                                                            <a ng-click="clearFormDentalSuppliesFormDB()"
                                                                class="btn btn-info  m-2" style="color: white;">
                                                                Làm mới
                                                            </a>
                                                            <a href="#!admin/dental-supplies"
                                                                class="btn btn-danger m-2">

                                                                Đóng
                                                            </a>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="list-tab-pane-medicine" role="tabpanel"
                                                aria-labelledby="list-tab-medicine" tabindex="0">
                                                <div class="card">
                                                    <table class="table datatables" id="dataTable-list-medicine">
                                                        <thead>
                                                            <tr>
                                                                <th>Tên thuốc</th>
                                                                <th>Loại thuốc</th>
                                                                <th>Nhà phân phối</th>
                                                                <th>Liều lượng</th>
                                                                <th>Đơn vị</th>
                                                                <th>Trước khi ăn</th>
                                                                <th>Thao tác</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="m in listMedicineDB">
                                                                <td>{{m.medicineName}}</td>
                                                                <td>{{m.medicineCategory.name}}</td>
                                                                <td>{{m.distributionMedicines.name}}</td>
                                                                <td>{{m.medicinesDosageAmount.amount}}</td>
                                                                <td>{{m.medicinesDosageUnit.unit}}</td>
                                                                <td>{{m.beforeEating ? 'Có' : 'Không'}}</td>
                                                                <td>
                                                                    <button
                                                                        class="btn btn-sm dropdown-toggle more-horizontal"
                                                                        type="button" data-toggle="dropdown"
                                                                        aria-haspopup="true" aria-expanded="false">
                                                                        <span class="text white">...</span>
                                                                    </button>
                                                                    <div class="dropdown-menu dropdown-menu-right"
                                                                        style="
                                                                        box-shadow: 0px 0px 10px
                                                                            rgba(0, 0, 0, 0.5);
                                                                        border-radius: 10px;
                                                                        ">
                                                                        <a class="dropdown-item text-primary"
                                                                            ng-click="editMedicine(m, $event)" href="#"
                                                                            style="font-size: 18px">Sửa</a>
                                                                        <a class="dropdown-item text-danger"
                                                                            ng-click="deleteMedicine(m, $event)"
                                                                            href="#" style="font-size: 18px">Xóa</a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- simple table -->
                        </div>
                        <!-- end section -->
                    </div>
                    <!-- .col-12 -->
                </div>
                <!-- .row -->
            </div>
            <!-- .container-fluid -->

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Thêm mới nhà phân phối</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-outline mb-3">
                                        <label class="form-label" for="distribution">
                                            Phân phối
                                        </label>
                                        <input type="text" id="distribution" ng-model="distribution"
                                            class="form-control" placeholder="Phân phối" required />
                                    </div>
                                    <span class="text-danger" ng-show="errorDistribution">(*) Vui lòng nhập phân phối
                                    </span>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-outline mb-3">
                                        <label class="form-label" for="distribution">Địa
                                            chỉ
                                            phân phối
                                        </label>
                                        <input type="text" id="distribution" ng-model="address" class="form-control"
                                            placeholder="Địa chỉ phân phối" required />
                                    </div>
                                    <span class="text-danger" ng-show="errorAddress">(*) Vui lòng nhập địa
                                        chỉ</span>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-outline mb-3">
                                        <label class="form-label" for="name">Tên phân phối
                                        </label>
                                        <input type="text" id="name" ng-model="name" class="form-control"
                                            placeholder="Tên phân phối" required />
                                    </div>
                                    <span class="text-danger" ng-show="errorName">(*) Vui lòng nhập tên</span>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-outline mb-3">
                                        <label class="form-label" for="email">Email
                                            Phân phối
                                        </label>
                                        <input type="text" id="email" ng-model="email" class="form-control"
                                            placeholder="Email phân phối" required />
                                    </div>
                                    <span class="text-danger" ng-show="errorEmail">(*) Vui lòng nhập email</span>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-outline mb-3">
                                        <label class="form-label" for="contactPerson">Người
                                            liên hệ
                                        </label>
                                        <input type="text" id="contactPerson" ng-model="contactPerson"
                                            class="form-control" placeholder="Người liên hệ" required />
                                    </div>
                                    <span class="text-danger" ng-show="errorContactPerson">(*) Vui lòng nhập người liên
                                        hệ</span>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-outline mb-3">
                                        <label class="form-label" for="taxCode">TaxCode
                                        </label>
                                        <input type="text" id="taxCode" ng-model="taxCode" class="form-control"
                                            placeholder="TaxCode" required />
                                    </div>
                                    <span class="text-danger" ng-show="errorTaxCode">(*) Vui lòng nhập taxCode</span>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-outline mb-3">
                                        <label class="form-label" for="note">Ghi chú
                                        </label>
                                        <textarea name="" id="note" ng-model="note" placeholder="Ghi chú"
                                            class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                            <button type="button" class="btn btn-primary" ng-click="createDistributionSupplies()">Lưu
                                lại</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>