
<!--================ Start Header Menu Area =================-->
<header class="header_area" ng-include="'component/header.html'"></header>
<!--================ End Header Menu Area =================-->	

<section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block text-center">
            <span class="text-white">Liên hệ</span>
            <h1 class="text-capitalize mb-5 text-lg">Kết nối với chúng tôi</h1>
  
            <!-- <ul class="list-inline breadcumb-nav">
              <li class="list-inline-item"><a href="index.html" class="text-white">Trang chủ</a></li>
              <li class="list-inline-item"><span class="text-white">/</span></li>
              <li class="list-inline-item"><a href="#" class="text-white-50">Liên hệ</a></li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- contact form start -->
  
  <section class="section contact-info pb-0">
      <div class="container">
           <div class="row">
              <div class="col-lg-4 col-sm-6 col-md-6">
                  <div class="contact-block mb-4 mb-lg-0">
                      <i class="icofont-live-support"></i>
                      <h5>Gọi cho chúng tôi</h5>
                      +84 969 281 254
                  </div>
              </div>
              <div class="col-lg-4 col-sm-6 col-md-6">
                  <div class="contact-block mb-4 mb-lg-0">
                      <i class="icofont-support-faq"></i>
                      <h5>Email cho chúng tôi</h5>
                      toothteeth@gmail.com
                  </div>
              </div>
              <div class="col-lg-4 col-sm-6 col-md-6">
                  <div class="contact-block mb-4 mb-lg-0">
                      <i class="icofont-location-pin"></i>
                      <h5>Địa chỉ</h5>
                      Địa chỉ: 51/A, 3/2, Ninh Kiều, Cần Thơ
                  </div>
              </div>
          </div>
      </div>

  </section>

  
<!-- footer Start -->
<footer class="footer section gray-bg" ng-include="'component/footer.html'"></footer>
<!--================ End footer Area  =================-->