
<div ng-controller="DepartmentController">
	<!--================ Start Header Menu Area =================-->
	<header class="header_area" ng-include="'component/header.html'"></header>
	<!--================ End Header Menu Area =================-->
	<section class="page-title bg-1">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
		<div class="col-md-12">
			<div class="block text-center">
			<span class="text-white">Tất cả phòng ban</span>
			<h1 class="text-capitalize mb-5 text-lg">Phòng ban chăm sóc khách hàng</h1>
			</div>
		</div>
		</div>
	</div>
	</section>


	<section class="section service-2">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-7 text-center">
					<div class="section-title">
						<h2 class="text-warning">Số 1 chăm sóc khách hàng <img src="https://png.pngtree.com/png-clipart/20230429/original/pngtree-star-vector-icon-yellow-circle-png-image_9123302.png" class="img-fluid" style="width: 50px;"></h2>
						<div class="divider mx-auto my-4"></div>
						<p>Nha khoa TOOTH TEETH đạt giải thưởng chăm sóc khách hàng số 1 tại Cần Thơ về dịch vụ phòng khám nha khoa - răng hàm mặt </p>
					</div>
				</div>
			</div>

			<div class="row listDepartment">
				<div class="col-lg-4 col-md-6" ng-repeat="d in listDepartments">
					<div class="department-block mb-5" style="height: 250px;">
						<!-- <img src="images/service/service-1.jpg" alt="" class="img-fluid w-100"> -->
						<div class="content">
							<h4 class="mt-4 mb-2 title-color" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{d.departmentName}}</h4>
							<p class="mb-4 mt-auto">{{d.description}}</p>
							<a href="#!/department-single/{{d.departmentId}}" class="read-more fw-bolder">Tìm hiểu<i class="icofont-simple-right ml-2"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- footer Start -->
	<footer class="footer section gray-bg" ng-include="'component/footer.html'"></footer>
	<!--================ End footer Area  =================-->
</div>