<div ng-controller="ForgotPasswordController">
	<header class="header_area" ng-include="'component/header.html'"></header>
	<!--================ End Header Menu Area =================-->

	<div class="row p-3 justify-content-center">
		<div class="col-4">
			<h1 class="h1 mb-3 text-center">Quên Mật Khẩu</h1>
	
			<div ng-if="!codeSent">
				<div class="form-group">
					<label for="inputEmail">Email</label>
					<input type="email" id="inputEmail" class="form-control form-control-lg" placeholder="Nhập email của bạn"
						ng-model="formForgotPassword.email" required="" autofocus="">
				</div>
				<button class="btn btn-lg btn-primary btn-block" ng-click="requestPasswordReset()">Gửi mã xác nhận</button>
			</div>
	
			<div ng-if="codeSent">			
				<div class="form-group">
					<label for="inputToken">Mã xác nhận</label>
					<input type="text" id="inputToken" class="form-control form-control-lg" placeholder="Nhập mã xác nhận"
						ng-model="formForgotPassword.code" required="">
				</div>
				<div class="form-group">
					<label for="inputNewPassword" >Mật khẩu mới</label>
					<input type="password" id="inputNewPassword" class="form-control form-control-lg" placeholder="Nhập mật khẩu mới"
						ng-model="formForgotPassword.newPassword" required="">
				</div>
				<div class="form-group">
					<label for="inputConfirmPassword" >Nhập lại mật khẩu</label>
					<input type="password" id="inputConfirmPassword" class="form-control form-control-lg" placeholder="Nhập mật khẩu mới"
						ng-model="formForgotPassword.confirmPassword" required="">
				</div>
				<button class="btn btn-lg btn-primary btn-block" ng-click="resetPassword()">Đổi mật khẩu</button>
			</div>
	
			<div class="mt-3 text-center">
				<a class="text-primary text-sm fst-italic text-decoration-underline" href="#!login">Quay lại đăng nhập</a>
			</div>
		</div>
	</div>
	
	

	<!-- footer Start -->
	<footer class="footer section gray-bg" ng-include="'component/footer.html'"></footer>
	<!--================ End footer Area  =================-->
</div>