<div ng-controller="BookingController">
<!--================ Start Header Menu Area =================-->
<header class="header_area" ng-include="'component/header.html'"></header>
<!--================ End Header Menu Area =================-->

<!-- Slider Start -->
<section class="banner">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12 col-xl-7">
				<div class="block">
					<div class="divider mb-3"></div>
					<span class="text-uppercase text-sm letter-spacing ">Giải pháp chăm sóc sức khỏe toàn diện</span>
					<h1 class="mb-3 mt-3">Cười tươi mỗi ngày với răng chắc khỏe</h1>

					<p class="mb-4 pr-5">Bạn mơ ước về một nụ cười hoàn hảo? Chúng tôi sẽ biến ước mơ đó thành hiện thực. Hãy đến với chúng tôi để trải nghiệm dịch vụ nha khoa chuyên nghiệp, mang đến cho bạn hàm răng chắc khỏe và nụ cười tươi tắn.</p>

					<div class="btn-container ">
						<button ng-show="isAllowedFastBooking" ng-click="openFastBookingModal()" target="_blank" class="btn btn-main-2 btn-icon btn-round-full">Đặt
							lịch nhanh<i class="icofont-simple-right ml-2  "></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="features">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="feature-block d-lg-flex">
					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
							<i class="icofont-surgeon-alt"></i>
						</div>
						<!-- <span>Dịch vụ 24 giờ</span> -->
						<h4 class="mb-3">Đặt lịch khám trực tuyến</h4>
						<p class="mb-4">Đặt lịch khám nha khoa trực tuyến thật đơn giản! Chỉ cần click chuột, bạn đã có thể chọn thời gian khám phù hợp. Tiết kiệm thời gian, không cần chờ đợi, thoải mái sắp xếp lịch trình.
						</p>
						<a href="#!/booking" class="btn btn-main btn-round-full" ng-click="leaveFastBookingModal()" ng-hide="!isPatient || !isLogin">Đặt lịch khám với bác sĩ</a>
					</div>

					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
							<i class="icofont-ui-clock"></i>
						</div>
						<!-- <span>Lịch trình</span> -->
						<h4 class="mb-3">Giờ làm việc</h4>
						<p class="mb-5">Phòng khám nha khoa <span class="text-primary">Tooth Teeth</span> chính thức hoạt động từ 7h30 đến 21h hàng ngày, nhằm đáp ứng tối đa nhu cầu khám chữa răng miệng của Quý khách.</p>
						<ul class="w-hours list-unstyled">
							<li class="d-flex justify-content-between">
								<button class="btn btn-main btn-round-full">
									Thứ hai - Chủ nhật: <span>7:30 - 21:00</span>
								</button>								
							</li>	
						</ul>
					</div>

					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
							<i class="icofont-support"></i>
						</div>
						<span>Trường hợp khẩn cấp</span>
						<h4 class="mb-3">+84 969 281 254</h4>
						<p>Gặp sự cố về răng miệng ngoài giờ? Đừng lo lắng! Gọi ngay hotline +84 969 281 254. Chúng tôi luôn sẵn sàng hỗ trợ bạn.</p>	
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-include="'component/booking-modal.html'"></div>
</section>
<section class="section about">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-4 col-sm-6">
				<div class="about-img">
					<img src="/assets/images/about/img-1.jpg" alt="" class="img-fluid">
					<img src="/assets/images/about/img-2.jpg" alt="" class="img-fluid mt-4">
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="about-img mt-4 mt-lg-0">
					<img src="/assets/images/about/img-3.jpg" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-4">
				<div class="about-content pl-4 mt-4 mt-lg-0">
					<h2 class="title-color">Đừng để răng đau <br>làm phiền cuộc sống</h2>
					<p class="mt-4 mb-5">Đừng để cơn đau răng làm bạn mất ngủ, mất ăn. Hãy đến ngay nha khoa để được tư vấn và điều trị kịp thời. Một hàm răng khỏe mạnh sẽ mang đến cho bạn cuộc sống tươi đẹp hơn.</p>
					<a href="#!service" class="btn btn-main-2 btn-round-full btn-icon">Dịch vụ<i
							class="icofont-simple-right ml-3"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="cta-section ">
	<div class="container">
		<div class="cta position-relative">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="icofont-doctor"></i>
						<span class="h3">58</span>k
						<p>Số ca đăng ký</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="icofont-flag"></i>
						<span class="h3">700</span>+
						<p>Đã hoàn thành</p>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="icofont-badge"></i>
						<span class="h3">40</span>+
						<p>Bác sĩ chuyên gia</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="icofont-globe"></i>
						<span class="h3">20</span>
						<p>Chi nhánh</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section service gray-bg">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 text-center">
				<div class="section-title">
					<h2>Chăm sóc bệnh nhân đạt giải thưởng</h2>
					<div class="divider mx-auto my-4"></div>
					<p>Hãy biết thêm về những điều cần thiết, đau đớn, những điều khó khăn chúng ta có thể gặp phải,
						những nỗi đau, những niềm vui, những điều kỳ diệu. Lớn hơn, thực tế và tìm kiếm.</p>
				</div>
			</div>
		</div>

		<div class="row">		
			<div class="col-12">
				<div class="feature-block d-lg-flex">			
					<div class="feature-item mb-5 mb-lg-0">
						<div class="icon d-flex align-items-center">
							<i class="icofont-heart-beat-alt text-lg"></i>
							<h4 class="mt-3 mb-3">Implant Nha Khoa</h4>
						</div>
						<div class="content">
							<p class="mb-4">Phương pháp này thay thế răng mất bằng cách cấy ghép nha khoa vào xương hàm, tạo
								ra một nền tảng vững chắc cho răng giả.</p>
						</div>
					</div>

					<div class="feature-item mb-5 mb-lg-0">
						<div class="icon d-flex align-items-center">
							<i class="icofont-tooth text-lg"></i>
							<h4 class="mt-3 mb-3">Niềng Răng Invisalign</h4>
						</div>
						<div class="content">
							<p class="mb-4">Niềng răng Invisalign là phương pháp điều trị nha khoa sử dụng khay trong suốt
								để nắn chỉnh răng.</p>
						</div>
					</div>

					<div class="feature-item mb-5 mb-lg-0">
						<div class="icon d-flex align-items-center">
							<i class="icofont-crutch text-lg"></i>
							<h4 class="mt-3 mb-3">CEREC</h4>
						</div>
	
						<div class="content">
							<p class="mb-4">Hệ thống này cho phép tạo ra các bộ răng sứ mạch nha trong một ngày, thay vì
								phải chờ đợi nhiều ngày hoặc tuần như trước đây.</p>
						</div>
					</div>
			
					<div class="feature-item mb-5 mb-lg-0">
						<div class="icon d-flex align-items-center">
							<i class="icofont-dna-alt-1 text-lg"></i>
							<h4 class="mt-3 mb-3">Nha khoa số hóa</h4>
						</div>
						<div class="content">
							<p class="mb-4">Sử dụng công nghệ số hóa để tạo ra các bản in 3D của răng và hàm, hỗ trợ trong
								việc thiết kế và sản xuất các bộ răng giả và cầu nha.</p>
						</div>
					</div>
				</div>
			</div>			
		</div>
	</div>
</section>
<section class="section testimonial-2 gray-bg">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7">
				<div class="section-title text-center">
					<h2>Chúng tôi đã phục vụ hơn 5000+ bệnh nhân</h2>
					<div class="divider mx-auto my-4"></div>
					<p>Với hơn mười năm kinh nghiệm, phòng khám nha khoa của chúng tôi đã thành công trong việc cung cấp
						dịch vụ chăm sóc răng miệng chất lượng cao, phục vụ hơn 5000 bệnh nhân.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-12 testimonial-wrap-2">
				<div class="testimonial-block style-2  gray-bg">
					<i class="icofont-quote-right"></i>

					<div class="testimonial-thumb">
						<img src="/assets/images/team/test-thumb1.jpg" alt="" class="img-fluid">
					</div>

					<div class="client-info ">
						<h4>Dịch vụ tuyệt vời!</h4>
						<span>Nguyễn Thành Trung</span>
						<p>
							Phòng khám làm răng chất lượng giá hợp lý.
						</p>
					</div>
				</div>
				<div class="testimonial-block style-2  gray-bg">
					<i class="icofont-quote-right"></i>
					<div class="testimonial-thumb">
						<img src="/assets/images/team/test-thumb2.jpg" alt="" class="img-fluid">
					</div>
					<div class="client-info ">
						<h4>Dịch vụ xuất sắc!</h4>
						<span>Lê Thị Mai</span>
						<p>
							Tôi đã có một trải nghiệm tuyệt vời tại phòng khám. Đội ngũ y bác sĩ rất chuyên nghiệp và
							thân thiện.
						</p>
					</div>
				</div>
				<div class="testimonial-block style-2  gray-bg">
					<i class="icofont-quote-right"></i>
					<div class="testimonial-thumb">
						<img src="/assets/images/team/test-thumb4.jpg" alt="" class="img-fluid">
					</div>
					<div class="client-info ">
						<h4>Giá cả hợp lý!</h4>
						<span>Trần Thanh Tâm</span>
						<p>
							Phòng khám cung cấp dịch vụ chất lượng với giá cả hợp lý. Tôi sẽ quay lại đây trong tương
							lai.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section clients">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7">
				<div class="section-title text-center">
					<h2>Các Đối tác ủng hộ chúng tôi</h2>
					<div class="divider mx-auto my-4"></div>
					<p>Hãy biết thêm về những người bạn đối tác của chúng tôi và thông tin chi tiết về họ. Đây là một số
						thông tin cần thiết về dịch vụ của chúng tôi và những điều tuyệt vời mà chúng tôi có thể cung
						cấp. Maiores porro cumque quaerat.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row clients-logo">
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="/assets/images/about/1.png" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="/assets/images/about/2.png" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="/assets/images/about/3.png" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="/assets/images/about/4.png" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="/assets/images/about/5.png" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="/assets/images/about/6.png" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="/assets/images/about/3.png" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="/assets/images/about/4.png" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="/assets/images/about/5.png" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="/assets/images/about/6.png" alt="" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
</section>
<!-- footer Start -->
<footer class="footer section gray-bg" ng-include="'component/footer.html'"></footer>
<!--================ End footer Area  =================-->
</div>