
    <a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
        <i class="fe fe-x"><span class="sr-only"></span></i>
    </a>
    <nav class="vertnav navbar navbar-light">
        <!-- nav bar -->
        <div class="w-100 mb-4 d-flex">
            <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="#!admin-dashboard">
                <svg version="1.1" id="logo" class="navbar-brand-img brand-sm"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                    y="0px" viewBox="0 0 120 120" xml:space="preserve">
                    <g>
                        <polygon class="st0" points="78,105 15,105 24,87 87,87 	" />
                        <polygon class="st0" points="96,69 33,69 42,51 105,51 	" />
                        <polygon class="st0" points="78,33 15,33 24,15 87,15 	" />
                    </g>
                </svg>
            </a>
        </div>
        <ul class="navbar-nav flex-fill w-100 mb-2">
            <li class="nav-item dropdown">
                <a href="#!admin" data-bs-toggle="dropdown" aria-expanded="false"
                    class="dropdown-toggle nav-link">
                    <i class="bi bi-house-door fe-16"></i>
                    <span class="ml-3 item-text">Dashboard</span>
                    <!-- <span class="sr-only">(current)</span> -->
                </a>
                <!-- <ul class="dropdown-menu list-unstyled pl-4 w-100" id="dashboard">
                    <li class="nav-item active">
                        <a class="nav-link pl-3" href="./index.html"><span
                                class="ml-1 item-text">Default</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-3" href="./dashboard-analytics.html"><span
                                class="ml-1 item-text">Analytics</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-3" href="./dashboard-sales.html"><span
                                class="ml-1 item-text">E-commerce</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-3" href="./dashboard-saas.html"><span class="ml-1 item-text">Saas
                                Dashboard</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-3" href="./dashboard-system.html"><span
                                class="ml-1 item-text">Systems</span></a>
                    </li>
                </ul> -->
            </li>
        </ul>
        <p class="text-muted nav-heading mt-4 mb-1">
            <span>Quản lý Bác sĩ</span>
        </p>
        <ul class="navbar-nav flex-fill w-100 mb-2">  
            <li class="nav-item w-100">
                <a class="nav-link" href="#!admin/doctor">
                    <i class="bi bi-info-circle fe-16"></i>
                    <span class="ml-3 item-text">Thông tin bác sĩ</span>
                </a>
            </li>
            <li class="nav-item w-100">
                <a class="nav-link" href="#!admin/doctor-schedule">
                    <i class="bi bi-calendar-check fe-16"></i>
                    <span class="ml-3 item-text">Lịch làm việc</span>
                </a>
            </li>                                                                 
        </ul>
        <p class="text-muted nav-heading mt-4 mb-1">
            <span>Quản lý Bệnh nhân</span>
        </p>
        <ul class="navbar-nav flex-fill w-100 mb-2">
            <li class="nav-item w-100">
                <a class="nav-link" href="calendar.html">
                    <i class="bi bi-person-video3 fe-16"></i>
                    <span class="ml-3 item-text">Hồ sơ bệnh nhân</span>
                </a>
            </li>
            <li class="nav-item w-100">
                <a class="nav-link" href="calendar.html">
                    <i class="bi bi-clock-history fe-16"></i>
                    <span class="ml-3 item-text">Tra cứu lịch sử điều trị</span>
                </a>
            </li>
        </ul>
        <p class="text-muted nav-heading mt-4 mb-1">
            <span>Quản lý Cuộc hẹn</span>
        </p>
        <ul class="navbar-nav flex-fill w-100 mb-2">
            <li class="nav-item w-100">
                <a class="nav-link" href="calendar.html">
                    <i class="bi bi-calendar2-week fe-16"></i>
                    <span class="ml-3 item-text">Lên lịch hẹn</span>
                </a>
            </li>
            <li class="nav-item w-100">
                <a class="nav-link" href="#!admin/list-appoinment">
                    <i class="bi bi-calendar-event fe-16"></i>
                    <span class="ml-3 item-text">Danh sách cuộc hẹn</span>
                </a>
            </li>
        </ul>
        <p class="text-muted nav-heading mt-4 mb-1">
            <span>Quản lý Dịch vụ</span>
        </p>
        <ul class="navbar-nav flex-fill w-100 mb-2">
            <li class="nav-item w-100">
                <a class="nav-link" href="#!admin/list-service">
                    <i class="bi bi-patch-plus fe-16"></i>
                    <span class="ml-3 item-text">Dịch vụ nha khoa</span>
                </a>
            </li>                  
        </ul>
        <p class="text-muted nav-heading mt-4 mb-1">
            <span>Quản lý Thanh toán</span>
        </p>
        <ul class="navbar-nav flex-fill w-100 mb-2">
            <li class="nav-item w-100">
                <a class="nav-link" href="calendar.html">
                    <i class="bi bi-receipt fe-16"></i>
                    <span class="ml-3 item-text">Quản lý các hóa đơn</span>
                </a>
            </li> 
            <li class="nav-item w-100">
                <a class="nav-link" href="calendar.html">
                    <i class="bi bi-check-square fe-16"></i>
                    <span class="ml-3 item-text">Xác nhận thanh toán</span>
                </a>
            </li>                  
        </ul>
        <p class="text-muted nav-heading mt-4 mb-1">
            <span>Quản lý tài khoản</span>
        </p>
        <ul class="navbar-nav flex-fill w-100 mb-2">
            <li class="nav-item w-100">
                <a class="nav-link" href="calendar.html">
                    <i class="bi bi-person-lock fe-16"></i>
                    <span class="ml-3 item-text">Phân quyền</span>
                </a>
            </li>               
        </ul>
        <p class="text-muted nav-heading mt-4 mb-1">
            <span>Báo cáo</span>
        </p>
        <ul class="navbar-nav flex-fill w-100 mb-2">
            <li class="nav-item w-100">
                <a class="nav-link" href="calendar.html">
                    <i class="fe fe-calendar fe-16"></i>
                    <span class="ml-3 item-text">Lố lượng bệnh nhân</span>
                </a>
            </li> 
            <li class="nav-item w-100">
                <a class="nav-link" href="calendar.html">
                    <i class="fe fe-calendar fe-16"></i>
                    <span class="ml-3 item-text">Doanh thu</span>
                </a>
            </li>
            <li class="nav-item w-100">
                <a class="nav-link" href="calendar.html">
                    <i class="fe fe-calendar fe-16"></i>
                    <span class="ml-3 item-text">Số cuộc hẹn</span>
                </a>
            </li>                  
        </ul>
        <p class="text-muted nav-heading mt-4 mb-1">
            <span>Diễn đàn</span>
        </p>
        <ul class="navbar-nav flex-fill w-100 mb-2">
            <li class="nav-item w-100">
                <a class="nav-link" href="calendar.html">
                    <i class="fe fe-calendar fe-16"></i>
                    <span class="ml-3 item-text">Tất cả bài viết</span>
                </a>
            </li> 
            <li class="nav-item w-100">
                <a class="nav-link" href="calendar.html">
                    <i class="fe fe-calendar fe-16"></i>
                    <span class="ml-3 item-text">Thêm bài viết</span>
                </a>
            </li>                
        </ul>       
        <div class="btn-box w-100 mt-4 mb-1">
            <button type="button" class="btn mb-2 btn-primary btn-lg btn-block">
                <i class="bi bi-calendar-heart fe-12 mr-2"></i><span class="small">Đặt lịch ngay</span>
            </button>
        </div>
    </nav>
