<ul class="nav" ng-controller="AdminMyProfileController">
    <!-- <li class="nav-item nav-notif">
        <a class="nav-link text-muted my-2" onclick="event.preventDefault();" href="./#" data-toggle="modal"
            data-target=".modal-notif">
            <span class="fe fe-bell fe-16"></span>
            <span class="dot dot-md bg-success"></span>
        </a>
    </li> -->
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-muted pr-0" href="#" ng-click="$event.preventDefault()"
            id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="avatar avatar-sm mt-2" ng-if="account.doctor">
                <span class="mx-2">Xin chào: {{account.doctor.fullName}}</span><img ng-src="{{account.doctor.image}}"
                    alt=" ..." class="avatar-img rounded-circle">
            </span>
            <span class="avatar avatar-sm mt-2" ng-if="account.dentalStaff">
                <span class="mx-2">Xin chào: {{account.dentalStaff.fullname}}</span><img ng-src="{{account.dentalStaff.imageURL
                }}" alt=" ..." class="avatar-img rounded-circle">
            </span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" style="left: auto !important;"
            aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#!admin/my-profile">Thông tin cá nhân</a>
            <a class="dropdown-item" href="javascript:void(0)" ng-click="logout()">Đăng xuất</a>
        </div>
    </li>

</ul>
<div class="admin-notify" ng-include="'component/admin-notify.html'"></div>