<a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
    <i class="fe fe-x"><span class="sr-only"></span></i>
</a>
<nav class="vertnav navbar navbar-light" ng-controller="AdminSideBarController">
    <!-- nav bar -->
    <div class="w-100 mb-4 d-flex">
        <a class="navbar-brand mx-auto mt-2 flex-fill text-center" onclick="$event.preventDefault()">
           <img src="../assets/images/logo_tt.png" alt="">
        </a>
    </div>
    <ul class="navbar-nav flex-fill w-100 mb-2" ng-show="QUAN_LY">
        <li class="nav-item w-100">
            <a class="nav-link" href="#!admin/dashboard">
                <i class="bi bi-house-door fe-16"></i>
                <span class="ml-3 item-text">Bảng thống kê</span>
            </a>
        </li>
    </ul>
    <p class="text-muted nav-heading mt-4 mb-1" ng-show="BAC_SI">
        <span>Lịch làm việc</span>
    </p>
    <ul class="navbar-nav flex-fill w-100 mb-2" ng-show="BAC_SI">
        <li class="nav-item w-100">
            <a class="nav-link" href="#!admin/doctor-calendar">
                <i class="fe fe-trello fe-16"></i>
                <span class="ml-3 item-text">Lịch làm của tôi</span>
            </a>
        </li>                                                                
    </ul>
    <p class="text-muted nav-heading mt-4 mb-1" ng-show="QUAN_LY">
        <span>Quản lý</span>
    </p>
    <ul class="navbar-nav flex-fill w-100 mb-2" ng-show="QUAN_LY">
        <li class="nav-item w-100">
            <a class="nav-link" href="#!admin/doctor">
                <i class="bi bi-info-circle fe-16"></i>
                <span class="ml-3 item-text">Thông tin bác sĩ</span>
            </a>
        </li>
        <li class="nav-item w-100">
            <a class="nav-link" href="#!admin/dental-staff">
                <i class="bi bi-info-circle fe-16"></i>
                <span class="ml-3 item-text">Thông tin nhân viên</span>
            </a>
        </li>
        <li class="nav-item w-100">
            <a class="nav-link" href="#!admin/doctor-schedule">
                <i class="bi bi-calendar-check fe-16"></i>
                <span class="ml-3 item-text">Xếp lịch làm việc</span>
            </a>
        </li>
        <li class="nav-item w-100">
            <a class="nav-link" href="#!admin/create-account">
                <i class="bi bi-person-lock fe-16"></i>
                <span class="ml-3 item-text">Tài khoản</span>
            </a>
        </li>                                                                
    </ul>
    <p class="text-muted nav-heading mt-4 mb-1" ng-show="QUAN_LY || HANH_CHINH">
        <span>Bệnh nhân & cuộc hẹn</span>
    </p>
    <ul class="navbar-nav flex-fill w-100 mb-2" ng-show="QUAN_LY || HANH_CHINH">
        <li class="nav-item w-100">
            <a class="nav-link" href="#!admin/admin-calendar">
                <i class="bi bi-calendar2-week fe-16"></i>
                <span class="ml-3 item-text">Lên lịch khám</span>
            </a>
        </li>  
        <li class="nav-item w-100">
            <a class="nav-link" href="#!admin/patients">
                <i class="bi bi-person-video3 fe-16"></i>
                <span class="ml-3 item-text">Hồ sơ bệnh nhân</span>
            </a>
        </li>
        
        <li class="nav-item w-100" ng-show="HANH_CHINH">
            <a class="nav-link" href="#!admin/create-account">
                <i class="bi bi-person-lock fe-16"></i>
                <span class="ml-3 item-text">Tài khoản</span>
            </a>
        </li>   
        <!-- <li class="nav-item w-100">
            <a class="nav-link" href="#!admin/patient-record">
                <i class="bi bi-clock-history fe-16"></i>
                <span class="ml-3 item-text">Lịch sử điều trị</span>
            </a>
        </li> -->

    </ul>
  
    <p class="text-muted nav-heading mt-4 mb-1" ng-show="QUAN_LY || HANH_CHINH">
        <span>Dịch vụ & vật tư</span>
    </p>
    <ul class="navbar-nav flex-fill w-100 mb-2" ng-show="QUAN_LY || HANH_CHINH">
        <li class="nav-item w-100">
            <a class="nav-link" href="#!admin/list-service">
                <i class="bi bi-patch-plus fe-16"></i>
                <span class="ml-3 item-text">Dịch vụ nha khoa</span>
            </a>
        </li>
        <li class="nav-item w-100">
            <a class="nav-link" href="#!admin/medicines">
                <i class="fe fe-package fe-16"></i>
                <span class="ml-3 item-text">Quản lí thuốc</span>
            </a>
        </li>
        <li class="nav-item w-100">
            <a class="nav-link" href="#!admin/dental-supplies">
                <i class="fe fe-framer fe-16"></i>
                <span class="ml-3 item-text">Vật tư nha khoa</span>
            </a>
        </li>
        <li class="nav-item w-100">
            <a class="nav-link" href="#!admin/distribution-supplies">
                <i class="fe fe-users fe-16"></i>
                <span class="ml-3 item-text">Nhà phân phối</span>
            </a>
        </li>
    </ul>
  
    <p class="text-muted nav-heading mt-4 mb-1" ng-show="QUAN_LY || HANH_CHINH">
        <span>Quản lý Thanh toán</span>
    </p>
    <ul class="navbar-nav flex-fill w-100 mb-2" ng-show="QUAN_LY || HANH_CHINH">
        <li class="nav-item w-100">
            <a class="nav-link" href="#!admin/list-invoice">
                <i class="bi bi-receipt fe-16"></i>
                <span class="ml-3 item-text">Hóa đơn</span>
            </a>
        </li>
        <!-- <li class="nav-item w-100">
            <a class="nav-link" href="calendar.html">
                <i class="bi bi-check-square fe-16"></i>
                <span class="ml-3 item-text">Thanh toán</span>
            </a>
        </li> -->
    </ul>
    <p class="text-muted nav-heading mt-4 mb-1" ng-show="KY_THUAT">
        <span>Kỹ thuật & Hình ảnh</span>
    </p>
    <ul class="navbar-nav flex-fill w-100 mb-2" ng-show="KY_THUAT">
        <li class="nav-item w-100">
            <a class="nav-link" href="#!admin/ct-results">
                <i class="bi bi-images fe-16"></i>
                <span class="ml-3 item-text">Film chụp CT</span>
            </a>
        </li>
    </ul>
    <!-- <p class="text-muted nav-heading mt-4 mb-1">
        <span>Báo cáo</span>
    </p>
    <ul class="navbar-nav flex-fill w-100 mb-2">
        <li class="nav-item w-100">
            <a class="nav-link" href="calendar.html">
                <i class="fe fe-sliders fe-16"></i>
                <span class="ml-3 item-text">Lượng bệnh nhân</span>
            </a>
        </li>
        <li class="nav-item w-100">
            <a class="nav-link" href="calendar.html">
                <i class="fe fe-dollar-sign fe-16"></i>
                <span class="ml-3 item-text">Doanh thu</span>
            </a>
        </li>
        <li class="nav-item w-100">
            <a class="nav-link" href="calendar.html">
                <i class="fe fe-target fe-16"></i>
                <span class="ml-3 item-text">Cuộc hẹn</span>
            </a>
        </li>
    </ul> -->
    <p class="text-muted nav-heading mt-4 mb-1" ng-show="QUAN_LY || HANH_CHINH">
        <span>Diễn đàn</span>
    </p>
    <ul class="navbar-nav flex-fill w-100 mb-2" ng-show="QUAN_LY || HANH_CHINH">
        <!-- <li class="nav-item w-100">
            <a class="nav-link" href="calendar.html">
                <i class="fe fe-book-open fe-16"></i>
                <span class="ml-3 item-text">Tất cả bài viết</span>
            </a>
        </li> -->
        <li class="nav-item w-100">
            <a class="nav-link" href="#!admin/post">
                <i class="fe fe-edit-2 fe-16"></i>
                <span class="ml-3 item-text">Bài viết</span>
            </a>
        </li>
    </ul>
    <!-- <div class="btn-box w-100 mt-4 mb-1">
        <button type="button" class="btn mb-2 btn-primary btn-lg btn-block">
            <i class="bi bi-calendar-heart fe-12 mr-2"></i><span class="small">Đặt lịch ngay</span>
        </button>
    </div> -->
</nav>