<div class="container">
    <div class="row">
        <div class="col-lg-4 mr-auto col-sm-6">
            <div class="widget mb-5 mb-lg-0">
                <div class="logo mb-4">
                    <img src="/assets/images/logo_tt.png" alt="" class="img-fluid">
                </div>
                <p>Tầm nhìn của Phòng khám nha khoa Tooth Teeth là trở thành địa chỉ tin cậy hàng đầu về chăm sóc răng
                    miệng, mang lại nụ cười khỏe đẹp cho mọi khách hàng. Sứ mệnh của chúng tôi là cung cấp dịch vụ nha
                    khoa chất lượng cao, an toàn và tận tâm.</p>

                <ul class="list-inline footer-socials mt-4">
                    <li class="list-inline-item"><a href="#top"><i
                                class="icofont-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#top"><i
                                class="icofont-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#top"><i
                                class="icofont-linkedin"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="col-lg-2 col-md-6 col-sm-6">
            <div class="widget mb-5 mb-lg-0">
                <h4 class="text-capitalize mb-3">Phòng Ban</h4>
                <div class="divider mb-4"></div>
                <ul class="list-unstyled footer-menu lh-35">
                    <li><a href="#">Nha khoa tổng quát</a></li>
                    <li><a href="#">Nha khoa trẻ em</a></li>
                    <li><a href="#">Chỉnh nha</a></li>
                    <li><a href="#">Phẫu thuật nha khoa</a></li>
                    <li><a href="#">Nha khoa thẩm mỹ</a></li>
                </ul>
            </div>
        </div>

        <div class="col-lg-2 col-md-6 col-sm-6">
            <div class="widget mb-5 mb-lg-0">
                <h4 class="text-capitalize mb-3">Hỗ Trợ</h4>
                <div class="divider mb-4"></div>
                <ul class="list-unstyled footer-menu lh-35">
                    <li><a href="#">Điều khoản & Điều kiện</a></li>
                    <li><a href="#">Chính sách Bảo mật</a></li>
                    <li><a href="#">Hỗ trợ Công ty</a></li>
                    <li><a href="#">Câu hỏi Thường gặp</a></li>
                    <li><a href="#">Giấy phép Công ty</a></li>
                </ul>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="widget widget-contact mb-5 mb-lg-0">
                <h4 class="text-capitalize mb-3">Liên Hệ</h4>
                <div class="divider mb-4"></div>
                <div class="footer-contact-block mb-4">
                    <div class="icon d-flex align-items-center">
                        <i class="icofont-email mr-3"></i>
                        <span class="h6 mb-0">Hỗ trợ 24/7</span>
                    </div>
                    <h4 class="mt-2"><a href="tel:+84 969 281 254">toothteeth@gmail.com</a></h4>
                </div>
                <div class="footer-contact-block">
                    <div class="icon d-flex align-items-center">
                        <i class="icofont-support mr-3"></i>
                        <span class="h6 mb-0">Thứ Hai đến Chủ nhật: 07:30 - 21:00</span>
                    </div>
                    <h4 class="mt-2"><a href="tel:+23-345-67890">+84 969 281 254</a></h4>
                </div>              
            </div>
        </div>
    </div>

</div>