<div class="row justify-content-center mb-3">
  <div class="row form-booking-appointment p-3">
    <div class="information mb-3">
      <p class="text-muted">Cập nhật cuộc hẹn ngày
        <span class="text-primary">{{originalDate}}. </span>
        Bác sĩ <span class="text-primary">{{formUpApp.fullName}}. </span>
        Thời gian khám từ <span class="text-primary">{{formUpApp.startTime|timeFormat}}</span> đến <span
          class="text-primary">{{formUpApp.endTime|timeFormat}}</span>
      </p>
      <p>
        <span>Bệnh nhân </span><span class="text-primary">{{originalPatient.fullName}}.</span>
        <span> Số điện thoại </span> <span
          class="text-primary">{{originalPatient.phoneNumber|phoneNumberFormat}}</span>
      </p>
    </div>

    <div class="row mb-3">
      <div class="col form-booking-appointment-col-two">
        <div class="form-group mb-3">
          <label for="appointmentDateUp">Ngày khám</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text" id="button-addon-date"><span class="fe fe-calendar fe-16"></span>
              </div>
            </div>
            <input type="text" class="form-control drgpicker-up" id="appointmentDateUp"
              ng-model="formUpApp.appointmentDate" autocomplete="off"
              ng-disabled="!validDateEvent||isDisabledStatus('')">
          </div>
        </div>

        <div ng-if="doctorDB.length==0">
          <label class="text-danger"> Không có bác sĩ làm việc </label>
        </div>

        <div ng-repeat="d in doctorDB" class="accordion accordion-flush mb-3"
          id="accordionFlush-DoctorSchedule-{{d.doctorId}}">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne-DoctorSchedule-{{d.doctorId}}">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne-DoctorSchedule-{{d.doctorId}}" aria-expanded="false"
                aria-controls="flush-collapseOne-DoctorSchedule-{{d.doctorId}}">
                Bác sĩ {{d.fullName}}
              </button>
            </h2>
            <div id="flush-collapseOne-DoctorSchedule-{{d.doctorId}}" class="accordion-collapse collapse"
              aria-labelledby="flush-headingOne-DoctorSchedule-{{d.doctorId}}"
              data-bs-parent="#accordionFlush-DoctorSchedule-{{d.doctorId}}">
              <div class="accordion-body">
                <div class="d-flex flex-column align-items-start">
                  <ul class="nav nav-pills mb-3" id="pills-tab-{{d.doctorId}}" role="tablist">
                    <li class="nav-item" ng-repeat="s in shiftDB(d.doctorId)" role="presentation">
                      <button class="nav-link" id="pills-{{s.shiftId}}-{{d.doctorId}}-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-{{s.shiftId}}-{{d.doctorId}}" type="button" role="tab"
                        aria-controls="pills-{{s.shiftId}}-{{d.doctorId}}" aria-selected="false"
                        ng-class="{active: isSelected(s.shiftId,d.doctorId)}"
                        ng-click="selectTab(s.shiftId,d.doctorId,$event,true)">{{s.name}}</button>
                    </li>
                  </ul>
                  <div class="tab-content" id="pills-tabContent-{{d.doctorId}}">
                    <div class="tab-pane fade" ng-repeat="s in shiftDB(d.doctorId)"
                      id="pills-{{s.shiftId}}-{{d.doctorId}}" role="tabpanel"
                      aria-labelledby="pills-{{s.shiftId}}-{{d.doctorId}}-tab"
                      ng-class="{ 'active show': isSelected(s.shiftId,d.doctorId) }">

                      <div class="row overflow-auto" style="height: 150px;">
                        <div class="col-3" ng-show="listTOS.length != 0" ng-repeat="tos in listTOS">
                          <div
                            class="custom-checkbox checbox-checked me-3 {{isCheckTos(tos[1].timeOfShiftId,d.doctorId)?'valid-shift-appointment':''}}"
                            ng-class="{ 'valid-shift': isTimeLess(tos[1],true)&&!isCheckTos(tos[1].timeOfShiftId,d.doctorId) || !isShiftAvailable(tos[1].timeOfShiftId)&&!isCheckTos(tos[1].timeOfShiftId,d.doctorId) }">
                            <label>
                              <input type="checkbox" id="repeatCheckTOS-{{tos[1].timeOfShiftId}}"
                                ng-change="onChangeTimeOfShift(tos[1],true,d.doctorId)" ng-model="tos[1].checked"
                                ng-value="tos[1]"
                                ng-disabled="!isShiftAvailable(tos[1].timeOfShiftId)&&!isCheckTos(tos[1].timeOfShiftId,d.doctorId) || isTimeLess(tos[1],true)&&!isCheckTos(tos[1].timeOfShiftId,d.doctorId) || !validDateEvent&&!isCheckTos(tos[1].timeOfShiftId,d.doctorId)">
                              <span>{{ tos[1].beginTime | firstFiveChars }} - {{ tos[1].endTime |
                                firstFiveChars
                                }}
                              </span>

                            </label>
                          </div>
                        </div>
                      </div>

                      <div ng-show="listTOS.length === 0">
                        <label class="text-danger">Không có ca làm việc để hiển thị</label>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- !showNextStepUp&&validDateEvent -->
        <div ng-class="{'disabled-div': isDisabledStatus('')}">
          <div class="form-group mb-3">
            <label for="appointmentPatientUp">Chọn bệnh nhân</label>
            <select id="appointmentPatientUp" class="form-control select2" ng-model="formUpApp.patientId"
              ng-options="p.patientId as (p.fullName + ' - ' + p.phoneNumber) for p in listPatientDB">
            </select>
          </div>

          <div class="form-group mb-3">
            <label for="appointmentStatusUp">Trạng thái</label>
            <select id="appointmentStatusUp" class="form-control select2" ng-model="formUpApp.appointmentStatus"
              ng-options="t.appointment_StatusId as t.status for t in listAppointmentStatusBDUp"
              ng-disabled="isDisabledStatus('')">
            </select>
          </div>
        </div>
        <!-- end col two -->

      </div>
    </div>
  </div>