<div class="header-top-bar" ng-controller="HeaderController">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <ul class="top-bar-info list-inline-item pl-0 mb-0">
                    <li class="list-inline-item"><a href="mailto:support@gmail.com"><i
                                class="icofont-support-faq mr-2"></i>toothteeth@gmail.com</a></li>
                    <li class="list-inline-item"><i class="icofont-location-pin mr-2"></i>Địa chỉ: 51/A, 3/2, Ninh Kiều,
                        Cần Thơ </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <div class="text-lg-right top-right-bar mt-2 mt-lg-0">
                    <a href="tel:+23-345-67890">
                        <span>Gọi ngay : </span>
                        <span class="h5">+84 969 281 254</span>
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="text-lg-right top-right-bar mt-2 mt-lg-0" ng-hide="isLogin">
                    <ul class="navbar-nav ml-auto" class="btn btn-outline-primary">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#top" id="dropdown03" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Tài khoản
                                <i class="icofont-thin-down"></i>
                                <i class="fe fe-user-x fe-16"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown03">
                                <li><a class="dropdown-item" href="#!login">Đăng nhập</a></li>
                                <li><a class="dropdown-item" href="#!register">Đăng ký</a></li>
                                <li><a class="dropdown-item" href="#!forgotPassword">Quên mật khẩu</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="text-lg-right top-right-bar mt-2 mt-lg-0" ng-show="isLogin&&isPatient">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#top" id="dropdown04" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" onclick="event.preventDefault();">
                                Thông tin người dùng
                                <i class="icofont-thin-down"></i>
                                <i class="fe fe-user-check fe-16"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown04">
                                <li><a class="dropdown-item" href="#!profile">Hồ sơ cá nhân</a></li>
                                <li><a class="dropdown-item" href="#!my-recorded">Hồ sơ bệnh án</a></li>
                                <li>
                                    <a class="dropdown-item" href="javascript:void(0)" ng-click="logout()">Đăng xuất</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="text-lg-right top-right-bar mt-2 mt-lg-0" ng-show="isLogin&&!isPatient">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" ng-href="{{getRoute()}}" 
                                aria-haspopup="true" aria-expanded="false">
                                Về trang quản lý
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navigation" id="navbar">
    <div class="container">
        <a class="navbar-brand" href="#!index">
            <img src="/assets/images/logo_tt.png" alt="" class="img-fluid">
        </a>

        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarmain"
            aria-controls="navbarmain" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icofont-navigation-menu"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarmain">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#!index">Trang chủ</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#!about">Về chúng tôi</a></li>
                <li class="nav-item"><a class="nav-link" href="#!service">Dịch vụ</a></li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#!doctor" id="dropdown05" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Đội ngũ Bác sĩ <i class="icofont-thin-down"></i></a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown05">
                        <li><a class="dropdown-item" href="#!doctor">Bác sĩ</a></li>
                        <!-- <li><a class="dropdown-item" href="#!doctor-single">Thông tin bác sĩ</a></li> -->
                        <li><a class="dropdown-item" href="#!appoinment">Đặt lịch hẹn</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="#!blog-sidebar">Bài viết</a></li>
                <li class="nav-item"><a class="nav-link" href="#!contact">Liên hệ</a></li>
            </ul>
        </div>
    </div>
</nav>